body {
    font-family: "'Alegreya Sans'", "Book Antiqua", Palatino, serif;
    background-color: antiquewhite;
 }

 ul{
    font-weight:bold; 
    text-decoration:underline; 
    
 }

 ul li{
    font-weight:none; 
    text-decoration:none;  
 }


 thead {
   background: #888;
 }
 
 td {
   padding: 20px;
   border: solid 1px black;
 }

 th {
   padding: 20px;
   border: solid 1px black;
 }