body {
   font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

header {
    background: #dd7b4e;
    height: 130px;
}

header section {
    width: 960px;
    margin: 0 auto;
}

header img {
    float: left;
    margin-right: 50px;
    margin-top: 30px;
}

header h1{
    padding-top: 20px;
    text-align: center;
    font-size: 60;
    color: maroon;
}

header nav li {
    display: inline-block;
    margin-right: 30px;
    margin-top: 30px;
}

main {
    width: 960px;
    margin: 20px auto;
}